<app-header></app-header>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <select *ngIf="categories.length > 0" class="form-select" #category [ngModel]="null"
        (ngModelChange)="getMoviesByCategory($event)" aria-label="Default select example">
        <option [value]="null" selected>Select Category</option>
        <option *ngFor="let category of categories; let i = index" [value]="category.id"
          [selected]="i == 0 ? true : null">{{category.name}}</option>
      </select>

      <div class="movies-list-wraper">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.0)" size="large" color="#8aa4cd" type="ball-scale-multiple"
          [fullScreen]="false"></ngx-spinner>
          
        <app-movies-section *ngIf="movies.length > 0" [movies]='movies'
          [categoryName]='getCategoryId(selectedCategoryID)?.name'></app-movies-section>
      </div>
    </div>
  </div>
</div>