

.add-btn {
    cursor: pointer;  
    white-space: nowrap;; 
}

.btnGreen{
    color: var(--main-green);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.sectionTitle h2, .sectionTitle a  {
    display: inline-block;
    vertical-align: middle;
}

.sectionTitle a {
    margin-left: 20px;
}

.sectionTitle {
    margin: 50px 0 20px 0;
}

.movies-list-wraper {
    min-height: 50vh;
    position: relative;
}
