<app-header></app-header>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-7 sectionTitle">
                <h2>MOVIES</h2>
                <a routerLink="/categories" class="btnGreen">SEE MORE</a>
        </div>
        <div class="col-md-2 align-self-center text-center">
            <h5 class="add-btn" (click)="openAddEditModal(false)">+Add Movie</h5>
        </div>
    </div>
    <div class="movies-list-wraper">
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.0)" size = "large" color = "#8aa4cd" type = "ball-scale-multiple" [fullScreen] = "false"></ngx-spinner>
        <ng-container *ngFor="let category of availableCategories">
        <app-movies-section *ngIf="filtertMoviesByCategory(category.id).length > 0" [movies]='filtertMoviesByCategory(category.id)'
        [categoryName]='category.name' (onMovieSaved)="getAllMovies()"></app-movies-section>
      </ng-container></div>

