<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Log In</h3>
                </div>
                <div class="panel-body">
                    <form name="form" #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
                        <div class="form-group mt-3">
                            <label>Email</label>
                            <input
                                type="text"
                                class="form-control"
                                name="email"
                                ngModel
                                #email="ngModel"
                            />
                        </div>
                        <div class="form-group mt-3">
                            <label>Password</label>
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                ngModel 
                                #password="ngModel"
                            />
                        </div>
                        <div class="mt-3" *ngIf="errorMessage">Login Failed</div>
                            <button class="btn btn-primary mt-3" type="submit">
                                Login
                            </button>
                            <div class="mt-3">Not a user? <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active" >Sign up</a> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


  