<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign up</h3>
                </div>
                <div class="panel-body">
                    <form name="form" #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
                        <div class="form-group mt-3">
                            <label>Name</label>
                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                ngModel
                                #name="ngModel"
                            />
                        </div>
                        <div class="form-group mt-3">
                            <label>Email</label>
                            <input
                                type="text"
                                class="form-control"
                                name="email"
                                ngModel
                                #email="ngModel"
                            />
                        </div>
                        <div class="form-group mt-3">
                            <label>Password</label>
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                ngModel 
                                #password="ngModel"
                            />
                        </div>
                        <div *ngIf="responseMsg && !responseMsg?.email && !responseMsg?.name && !responseMsg?.password" class="mt-3">{{responseMsg}}</div>
                        <div *ngIf="responseMsg" class="mt-3">{{responseMsg?.email}}</div>
                        <div *ngIf="responseMsg" class="mt-3">{{responseMsg?.name}}</div>
                        <div *ngIf="responseMsg" class="mt-3">{{responseMsg?.password}}</div>
                            <button class="btn btn-primary mt-3" type="submit">
                                Sign up
                            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


  