
.movies-section {
    width: 90%;
    padding: 0 5%;
    margin-bottom: 80px;
    min-height: 100%;
    position: relative;

}

.sectionTitle h2, .sectionTitle a  {
    display: inline-block;
    vertical-align: middle;
}

.sectionTitle a {
    margin-left: 20px;
}

.sectionTitle {
    margin: 25px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movies-section ul {
    width: 100%;
    display: flex;
    list-style: none;
}
.movies-section ul li img{
    width: 92%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
}

.btnGreen{
    color: var(--main-green);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.movie-thumb {
    max-width: 268px;
    max-height: 390px;
    min-height: 390px;
    min-width: 268px;
    object-fit: cover;
}


.movie-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.movies-list {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.movies-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 268px;
    margin: 10px 20px;
}

.option-btn {
    width: 100px
}

/* for screen sizes smaller than 768px */
@media screen and (max-width: 768px) {
    .movies-section {
        padding: 0;
    }
    .movies-list {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .movie-thumb {
        max-width: unset;
        min-width: unset;
        object-fit: cover;
    }
    .option-btn {
        margin: 0 3px;
    }
}