<section class="movies-section">
    <div class="sectionTitle">
        <h3>{{category}}</h3>
    </div>
    <ul class="movies-list">
        <li *ngFor="let movie of movies"><a href="#">
            <img class="movie-thumb" [src]="'https://test-api.storexweb.com/' + movie.image" alt="movie poster"></a>
            <div class="movie-options">
                <button class="edit-btn" (click)="openAddEditModal(true, movie)">Edit</button>
                <button class="delete-btn" (click)="deleteMovie(movie.id)">Delete</button>
            </div>
        </li>
    </ul>
</section>